/*
 * okaTooltip Styles
 *
 * @author Guilherme Henrique Oka Marques
 * @version: 1.0
*/

/* HELPER */
	div.okaTooltip{
		display: none;
		position: fixed;
		overflow: hidden;
		z-index: 9999;
		padding: 5px 15px 5px 15px;
		color: #1f1f1f;
		text-align: left;
		font-size: 14px;
		font-family: verdana;
		font-style: italic;
		background-color: #fff;
		border: 1px solid #1f1f1f;
	}